<!DOCTYPE html>
<html>
<head>
  <title>Sales for Store {{ store_id }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      function displayError(message) {
        var errorContainer = $("#error-container");
        errorContainer.text("Error: " + message);
        errorContainer.show();
      }

      function showLoadingIcon() {
        $('#loading-icon').show();
      }

      function hideLoadingIcon() {
        $('#loading-icon').hide();
      }

      function showDownloadLoadingIcon() {
        $('#download-loading-icon').show();
      }

      function hideDownloadLoadingIcon() {
        $('#download-loading-icon').hide();
      }

      // Function to retrieve customer data
      function getSalesAsync(format, rowLimit, callback) {
        var data = {
          format: format
        };
        if (rowLimit) {
          data.row_limit = rowLimit;
        }
        $.ajax({
          url: "/api/1.0/stores/{{ store_id }}/sales",
          type: "GET",
          data: data,
          dataType: "json",
          success: function(response) {
            callback(response.request_id);
          },
          error: function(xhr, textStatus, errorThrown) {
            hideLoadingIcon();
            if (xhr.responseJSON && xhr.responseJSON.message) {
              var errorMessage = xhr.responseJSON.message;
              displayError(errorMessage);
            } else {
              displayError("An error occurred: " + textStatus);
            }
            callback(null);
          }
        });
      }

      async function getSalesResults(requestId, download) {
        $.ajax({
          url: "/api/1.0/stores/{{ store_id }}/sales",
          type: "GET",
          data: {
            request_id: requestId
          },
          dataType: "json",
          success: function(response) {
            if (["PENDING", "RUNNING"].includes(response.state)) {
              setTimeout(
                function() { getSalesResults(response.request_id, download) }, 
                100) // Poll again after 100ms.
            } else if (response.state == "SUCCEEDED") {
              if (download) {
                hideLoadingIcon();
                downloadSales(response.request_id, response.chunk_count)
              } else {
                displaySales(response.request_id, response.chunk_count)
              }
            } else {
              displayError("An error occurred");
            }
          },
          error: function(xhr, textStatus, errorThrown) {
            hideLoadingIcon();
            if (xhr.responseJSON && xhr.responseJSON.message) {
              var errorMessage = xhr.responseJSON.message;
              displayError(errorMessage);
            } else {
              displayError("An error occurred: " + textStatus);
            }
          }
        })
      }

      async function displaySales(requestId, chunkCount) {
        var orderList = $("#sale-list");
        orderList.empty();
        console.log("Displaying " + chunkCount + " chunks for request " + requestId);
        for (var chunkIndex = 0; chunkIndex < chunkCount; chunkIndex++) {
          var data = await downloadFromExternalLinkJson(requestId, chunkIndex);
          updateSales(data)
        }
      }

      function downloadSales(request_id, chunk_count) {
        concatenateCSVFiles(request_id, chunk_count, "sales.csv")
      }

      function limitConcurrency(promises, concurrencyLimit) {
        const results = [];
        let index = 0;

        function next() {
          if (index >= promises.length) {
            return Promise.resolve();
          }

          const promise = promises[index];
          index++;

          return promise().then((result) => {
            results.push(result);
            return next();
          });
        }

        const limitedPromises = Array(concurrencyLimit)
          .fill(null)
          .map(() => next());

        return Promise.all(limitedPromises).then(() => results);
      }

      async function getExternalLink(requestId, chunkIndex) {
        const response = await $.ajax({
          url: "/api/1.0/stores/{{ store_id }}/sales",
          type: "GET",
          data: {
            request_id: requestId,
            chunk_index: chunkIndex
          }
        });
        return response.link;
      }

      async function concatenateCSVFiles(requestId, chunkCount, filename) {
        console.log("Chunk count: " + chunkCount)
        var mergedContentDictionary = {};

        var concurrencyLimit = 6; // Browser limits.

        chunks = []
        for (chunkIndex = 0; chunkIndex < chunkCount; chunkIndex++) {
          chunks.push(chunkIndex)
        }

        const promises = chunks.map(function (chunkIndex) {
          return function () {
            return downloadFromExternalLink(requestId, chunkIndex);
          };
        });

        var requests = limitConcurrency(promises, concurrencyLimit);

        requests
          .then(function (responses) {
            for (var i = 0; i < responses.length; i++) {
              const { chunkIndex, data } = responses[i];
              mergedContentDictionary[chunkIndex] = data;
            }

            // Assemble the downloaded chunks in order.
            mergedContent = "";
            for (chunkIndex = 0; chunkIndex < chunkCount; chunkIndex++) {
              mergedContent += mergedContentDictionary[chunkIndex];
            }

            // Create a Blob from the merged CSV data
            var blob = new Blob([mergedContent], { type: "text/csv" });

            // Create a download link
            var link = document.createElement("a");
            link.href = URL.createObjectURL(blob);
            link.download = filename;

            // Trigger a click event on the download link
            link.click();
            hideDownloadLoadingIcon();

            // Clean up by revoking the object URL
            URL.revokeObjectURL(link.href);
          })
          .catch(function (error) {
            // Handle errors
            console.error(error);
          });
      }

      showLoadingIcon();
      // Initial load of customer data
      getSalesAsync("JSON_ARRAY", 20, function(requestId) {
        if (requestId !== null) {
          setTimeout(function() { getSalesResults(requestId, false) }, 100) // Wait 100ms before polling
        }
      });

      function updateSales(orders) {
        hideLoadingIcon();
        var orderList = $("#sale-list");
        for (var i = 0; i < orders.length; i++) {
          var order = orders[i];
          var row = $("<tr></tr>");
          row.append($("<td></td>").text(order[0]));
          row.append($("<td></td>").text(order[1]));
          row.append($("<td></td>").text(order[2]));
          row.append($("<td></td>").text(order[3]));
          row.append($("<td></td>").text(order[4]));
          row.append($("<td></td>").text(order[5]));
          orderList.append(row);
        }
      }

      async function downloadFromExternalLinkJson(requestId, chunkIndex) {
        try {
          const {index, data} = await downloadFromExternalLink(requestId, chunkIndex);
          return JSON.parse(data)
        } catch (error) {
          return downloadFromExternalLinkJson(requestId, chunkIndex);
        }
      }

      async function downloadFromExternalLink(requestId, chunkIndex) {
        const externalLink = await getExternalLink(requestId, chunkIndex);
        console.log("Got chunk " + chunkIndex + " external link " + externalLink);
        const data = await $.ajax({
          url: externalLink,
          type: "GET"
        });
        console.log("Got chunk " + chunkIndex + " data");
        return new Promise((resolve, reject) => {
          resolve({chunkIndex, data});
        });
      }

      $("#download-btn").click(function() {
        showDownloadLoadingIcon();
        getSalesAsync("CSV", null, function(requestId) {
          if (requestId !== null) {
            setTimeout(function() { getSalesResults(requestId, true) }, 100) // Wait 100ms before polling
          }
        });
      });
    });
  </script>
</head>
<body>
  <h1>Last 20 Sales for Store {{ store_id }}</h1>
  <div class="container">
    <button id="download-btn">Download All as CSV</button>
    <div id="download-loading-icon" style="display: none;">
      <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading..." height="20" />
    </div>  
  </div>
  <table id="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Sale ID</th>
        <th>Store ID</th>
        <th>Item ID</th>
        <th>Quantity</th>
        <th>Sale Price</th>
      </tr>
    </thead>
    <tbody id="sale-list"></tbody>
  </table>
  <div id="loading-icon" style="display: none;">
    <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading..." />
  </div>
  <div id="error-container" style="display: none;"></div>
</body>
</html>
