<!DOCTYPE html>
<html>
<head>
  <title>Sales for Store {{ store_id }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='display_helper.js') }}"></script>
  <script>
    $(document).ready(function() {

      //
      // Functions for executing an async request to get sales data, poll for results and download the data.
      //

      // Function that kicks off the async retrieval of sales information.
      function getSalesAsync(format, rowLimit, callback) {
        var data = {
          format: format
        };
        if (rowLimit) {
          data.row_limit = rowLimit;
        }
        $.ajax({
          url: "/api/1.0/stores/{{ store_id }}/sales",
          type: "GET",
          data: data,
          dataType: "json",
          success: function(response) {
            callback(response.request_id);
          },
          error: function(xhr, textStatus, errorThrown) {
            hideLoadingIcon();
            if (xhr.responseJSON && xhr.responseJSON.message) {
              var errorMessage = xhr.responseJSON.message;
              displayError(errorMessage);
            } else {
              displayError("An error occurred: " + textStatus);
            }
            callback(null);
          }
        });
      }

      // Poll the status for the store information request and handle results.
      async function pollSalesStatus(requestId, resultHandler) {
        $.ajax({
          url: "/api/1.0/stores/{{ store_id }}/sales",
          type: "GET",
          data: {
            request_id: requestId
          },
          dataType: "json",
          success: function(response) {
            // If the request is still being processed by Databricks SQL, poll again.
            if (response.state == "PENDING" || response.state == "RUNNING") {
              setTimeout(
                function() { 
                  pollSalesStatus(response.request_id, resultHandler) 
                }, 
                100 // 100ms delay before polling.
              )
            // If the request is complete, process the results.
            } else if (response.state == "SUCCEEDED") {
              resultHandler(response.request_id, response.chunk_count, response.link);
            } else {
              displayError("An error occurred. Request state: " + response.state);
            }
          },
          error: function(xhr, textStatus, errorThrown) {
            hideLoadingIcon();
            if (xhr.responseJSON && xhr.responseJSON.message) {
              var errorMessage = xhr.responseJSON.message;
              displayError(errorMessage);
            } else {
              displayError("An error occurred: " + textStatus);
            }
          }
        })
      }

      // Get the external link for a given chunk.
      async function getExternalLink(requestId, chunkIndex) {
        const response = await $.ajax({
          url: "/api/1.0/stores/{{ store_id }}/sales",
          type: "GET",
          data: {
            request_id: requestId,
            chunk_index: chunkIndex
          }
        });
        return response.link;
      }

      // Download the data from an external link.
      async function downloadFromExternalLink(externalLink) {
        return $.ajax({
          url: externalLink,
          type: "GET"
        });
      }

      // Get an external link for the chunk and download the data.
      async function downloadChunkData(requestId, chunkIndex) {
        const externalLink = await getExternalLink(requestId, chunkIndex);
        const data = await downloadFromExternalLink(externalLink);
        return {chunkIndex, data}
      }

      //
      // Code that displays the last 20 sales on page load.
      //

      // Initial load of the last 20 sales for the store in JSON format.
      showLoadingIcon();
      getSalesAsync("JSON_ARRAY", 20, function(requestId) {
        if (requestId !== null) {
          setTimeout(
            function() { 
              pollSalesStatus(requestId, displaySales) 
            }, 
            100 // 100ms delay before polling.
          )
        }
      });

      // Display handler for a sales request. It assumes the results are in JSON.
      async function displaySales(requestId, chunkCount, firstChunkLink) {
        if (chunkCount == 0) {
          hideLoadingIcon();
          return;
        }

        for (var chunkIndex = 0; chunkIndex < chunkCount; chunkIndex++) {
          var sales = null;
          // Optimize the first chunk if the backend already returned it.
          if (chunkIndex == 0) {
            sales = await downloadFromExternalLinkJson(firstChunkLink);
          } else {
            sales = await downloadChunkJson(requestId, chunkIndex);
          }
          hideLoadingIcon();
          var saleList = $("#sale-list");
          for (var i = 0; i < sales.length; i++) {
            var sale = sales[i];
            var row = $("<tr></tr>");
            row.append($("<td></td>").text(sale[0]));
            row.append($("<td></td>").text(sale[1]));
            row.append($("<td></td>").text(sale[2]));
            row.append($("<td></td>").text(sale[3]));
            row.append($("<td></td>").text(sale[4]));
            row.append($("<td></td>").text(sale[5]));
            saleList.append(row);
          }
        }
      }

      // Get an external link for the chunk, download the results and parse as JSON.
      async function downloadChunkJson(requestId, chunkIndex) {
        try {
          const {index, data} = await downloadChunkData(requestId, chunkIndex);
          return JSON.parse(data)
        } catch (error) {
          return downloadChunkJson(requestId, chunkIndex);
        }
      }

      // Download from external link and parse as JSON.
      async function downloadFromExternalLinkJson(externalLink) {
        try {
          const data = await downloadFromExternalLink(externalLink);
          return JSON.parse(data)
        } catch (error) {
          return downloadFromExternalLinkJson(externalLink);
        }
      }

      //
      // Code that downloads all the sales data as CSV.
      //

      // Download button handler that kicks off the full sales info request.
      $("#download-btn").click(function() {
        showDownloadLoadingIcon();
        getSalesAsync("CSV", null, function(requestId) {
          if (requestId !== null) {
            setTimeout(
              function() { 
                pollSalesStatus(requestId, downloadSales) 
              }, 
              100 // 100ms delay before polling.
            )
          }
        });
      });

      async function downloadSales(requestId, chunkCount, firstChunkLink) {
        var concurrencyLimit = 6; // Browser limits.
        var mergedContentDictionary = {};
        
        // Create an array of indices and map them to promises for the result downloads.
        var chunks = []
        for (chunkIndex = 0; chunkIndex < chunkCount; chunkIndex++) {
          chunks.push(chunkIndex)
        }

        const promises = chunks.map(function (chunkIndex) {
          return function () {
            return downloadChunkData(requestId, chunkIndex);
          };
        });

        // Concurrently execute the promises to download the chunks of data.
        var requests = limitConcurrency(promises, concurrencyLimit);
        requests
          .then(function (responses) {
            // Collect the unordered responses into a dictionary by chunk index.
            for (var i = 0; i < responses.length; i++) {
              const { chunkIndex, data } = responses[i];
              mergedContentDictionary[chunkIndex] = data;
            }

            // Assemble the downloaded chunks in order.
            mergedContent = "";
            for (chunkIndex = 0; chunkIndex < chunkCount; chunkIndex++) {
              mergedContent += mergedContentDictionary[chunkIndex];
            }

            // Create a Blob from the merged CSV data.
            var blob = new Blob([mergedContent], { type: "text/csv" });

            // Create a download link.
            var link = document.createElement("a");
            link.href = URL.createObjectURL(blob);
            link.download = "sales.csv";

            // Trigger a click event on the download link
            link.click();
            hideDownloadLoadingIcon();

            // Clean up by revoking the object URL
            URL.revokeObjectURL(link.href);
          })
          .catch(function (error) {
            // Handle errors
            console.error(error);
          });
      }

      // Function to execute a list of promises with a concurrency limit. 
      function limitConcurrency(promises, concurrencyLimit) {
        const results = [];
        let index = 0;

        function next() {
          if (index >= promises.length) {
            return Promise.resolve();
          }

          const promise = promises[index];
          index++;

          return promise().then((result) => {
            results.push(result);
            return next();
          });
        }

        const limitedPromises = Array(concurrencyLimit)
          .fill(null)
          .map(() => next());

        return Promise.all(limitedPromises).then(() => results);
      }
    });
  </script>
</head>
<body>
  <h1>Last 20 Sales for Store {{ store_id }}</h1>
  <div class="container">
    <a href="/newsale?store_id={{store_id}}" class="button">Add Sale</a>
    <button id="download-btn">Download All as CSV</button>
    <div id="download-loading-icon" style="display: none;">
      <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading..." height="20" />
    </div>  
  </div>
  <table id="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Sale ID</th>
        <th>Store ID</th>
        <th>Item ID</th>
        <th>Quantity</th>
        <th>Sale Price</th>
      </tr>
    </thead>
    <tbody id="sale-list"></tbody>
  </table>
  <div id="loading-icon" style="display: none;">
    <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading..." />
  </div>
  <div id="error-container" style="display: none;"></div>
</body>
</html>
